html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
header {
  height: 90px;
  background-color: red;
  color: white;
}
.header-logo {
  font-size: 60px;
  float: left;
}
header li {
  font-size: 25px;
  padding: 28px 40px;
  float: left
}

.main {
  padding-top: 100px;
  background-color: #2f5167;
}
.main h1 {
  font-size: 140px;
    padding-left: 80px;
}
.main-span-w {
  color: red;
}
.main-span-e1 {
  color: orange;
}
.main-span-l {
  color: yellow;
}
.main-span-c {
  color: blue;
}
.main-span-o {
  color: green;
}
.main-span-m {
  color: purple;
}
.main-span-e2 {
  color: pink;
}
.main h2 {
  font-size: 60px;
  background-color: #26d0c9;
  color: white;
  padding-left: 350px;
}
.contact-form {
  background-color: red;
  color: white;
}
